<h1> Vendor Sweet Show page: </h1>
    <div> Vendor Name: <%= @vendor_sweet.vendor.name %></div>
     <div> Sweet Name:<%= @vendor_sweet.sweet.name%></div>
    <div> Price: <%= @vendor_sweet.price %></div>

   
