<h1><%= @vendor.name %> Vendor Page! </h1>
<h3>These are all the sweets in stock:</h3>
<% if @vsweets.length == 0 %>
    <p>This vendor has no sweets! 😰</p>
<% else %>
    <ul>
        <% @vsweets.each do |vsweet| %>
            <li><%= link_to "#{vsweet.sweet.name} — #{vsweet.price}¢", vsweet.sweet %></li>
        <% end %>
    </ul>
<% end %>